
@-webkit-keyframes arrow {
    0% {top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}

@-moz-keyframes arrow {
    0% {top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}

@-ms-keyframes arrow {
    0% {top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}

@-o-keyframes arrow {
    0% {top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@keyframes zoom-in {
  0% {
   transform: scale(.1);
  }
  100% {
    transform: none;
  }
}

@keyframes rotate-right {
  0% {
    transform: translate(-100%) rotate(-100deg);
  }
  100% {
    transform: none;
  }
}

.is-animated {
  animation: .6s zoom-in;
  // animation: .6s rotate-right; 
}