.contact{
	height: 100vh;
	background-color: $brand;
	display: flex;
	flex-direction: row;
	.social{
		width: 70%;
		display:flex;
		ul{
			list-style: none;
			display: flex;
			flex-direction: row;
			li{
				margin: 10px;
				font-size: 44px;
			}
		}
	}
	
}
