.about{
	height: 60vh;
	display: flex;
	flex-direction: row;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 24%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 24%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 24%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	.textWrap{
		width: 50%;
		padding: 5% 0 0 15%;
		h1{
			span{
				color: #4652BB;
			}	
		}
		p{
		}
	}
	.iphone{
		width: 50%;
		position: relative;
		top: -20%;
		img{
			width: 400px;
		}
		.hire{
			background-color: #4652BB;
			position: absolute;
			bottom: 10%;
			right: 64%;
			padding: 10px;
			border-radius: 10px;
			text-decoration: none;
			color: white;
		}	
	}
}

.skills{
	background-size: cover;
	background-image: url('../images/wall3.jpg');
	background-attachment: fixed;		
	display: flex;
	padding: 40px;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
	-webkit-clip-path: polygon(50% 0, 50% 0, 100% 4%, 100% 96%, 50% 100%, 50% 100%, 0 96%, 0 4%);
	clip-path: polygon(50% 0, 50% 0, 100% 4%, 100% 96%, 50% 100%, 50% 100%, 0 96%, 0 4%);
	.skillsWrap{
		width: 50%;
		display: flex;
		justify-content: center;
		align-items:center;
		flex-wrap: wrap;
		flex-direction: row;
		.web{
			height: 200px;
			width: 200px;
		    border-left: 1px solid #fff;
			border-right: 1px solid #fff;
		    border-bottom: 1px solid #fff;
		    position: relative;
		    z-index: 1;
		    margin: 3em;
		    font-size: 14px;
		    .border{
		    	background-image: url('../images/box-top.png');
		    	background-repeat: no-repeat;
				background-size: contain;
				height: 1px;
				width: 100%;
		    	position: absolute;
		    	top: 0;
		    }
		    i{
		    	color: white;
		    	font-size: 32px;
		    	position: absolute;
		    	top:0;
		    	left: 41%;
		    }
		    .text{
		    	position:absolute;
		    	bottom:0;
				text-align: center;
		    	h3{
		    		color: white;
		    	}
		    	p{
				color: white;
		    	}
		    }
		}
	}
}

.work{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	ul{
		display: flex;
		flex-direction: row;
		list-style-type: none;
		a{
			text-decoration: none;				
			margin: 5px;

			li{
			}
		}
	}
	.filter {
		margin-bottom: 30px;
		a{
			position: relative;
			text-decoration: none;
			color: #103E52;
			transition: 0.5s;
			padding: 5px;
			&:hover{
				color:#0E0E0E;
				transition: 0.5s;
			}

		}
	}
	.boxes{
	  display: flex;
	  flex-wrap: wrap;
	  a{
	  	  width: 50px;
		  border: 2px solid #333;
		  margin: 0 1% 20px 1%;
		  line-height: 60px;
	  }
	}
	.project{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
		.projectText{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 50%;
			h4{

			}
			p{
				width: 80%;
			}
		}
		.projectPicture{
			width: 50%;
			img{
				height:100%;
				width: 100%;
			}
			iframe{
				position: absolute;
				width: 290px;
				height: 180px;
				top: 20%;
				left:27%;
			}
		}
		&:hover{
			background-color: rgba(0,0,0,0.1);
			transition: 0.5s;
		}
	}

}
.hidden{ 
	display: none;
}

footer{
	height: 20vh;
}