.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/wall3.jpg');
    background-size: cover;
    background-attachment: fixed;
    #particles-js {
      position: relative;
      z-index: 11;
      height: 100vh;
    }
    .profile{
      background-image: url(../images/nenad.jpg);
      background-size: cover;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      border: 8px solid rgba(250,250,250,0.4);
      position: absolute;
      top: 35%;
      left: 15%;
      transition: 1.5s;
        &:hover{
          border: 8px solid rgba(0,0,0,0.9);
          transition: 1.5s;
        }
    }
    .statement{
      height: 220px;
      width: 350px;
      -webkit-clip-path: polygon(11% 0, 100% 0%, 100% 75%, 13% 73%, 12% 46%, 0 36%, 12% 32%);
      clip-path: polygon(11% 0, 100% 0%, 100% 75%, 13% 75%, 11% 46%, 0 36%, 12% 32%);
      background-color: rgba(250, 250, 250, 0.5);
      display: flex;
      justify-content: center;
      animation-delay: 2s;
      p{
        width:50%;
      }
    }
  
}
