.wrap{
	position: fixed;
	right: 0;
	top:0;
	height: 100%;
	width: 30px;
	transition: 0.5s;
	z-index: 5;
	&:hover  {
		background-color: rgba(12,47,69,0.7);
		width: 120px;
		transition: 0.5s;
	&:hover .hamburger{
		i{
			color: white;
		}
	}
	&:hover .navigation a{
		color: white;
	}
	}

	.hamburger{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5%;
		button{
			background-color: Transparent;
			border: 0px;
			cursor:pointer;
			i{
				color: #0c2f45;
				margin: 10px;
				transition: 0.5s;
			}
		}
	}
	.navigation{
		height: 95%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		a{
			margin: 0 0 30px 0 ;
			color: #0c2f45;
			transition: 0.5s;
			.fa{
				font-size: 16px;
				&:hover{
					color: #fff;
				}
			}
		}
	}
}