@media (min-width: 1200px) {
header{
  .welcome{
      #particles-js {
      }
    .appleSet{
        .logo{
        }
        .screenText{
          padding-top: 100px;
          height: 250px;
          width: 400px;
          }
    }
  }
}
}
.about{
  .textWrap{
    h1{
      span{
      } 
    }
    p{
    }
  }
  .iphone{
    .hire{
      bottom: -6%;
      right: 54%;
    } 
  }
}

@media (max-width: 800px) {


@media (max-width: 600px) {
  header{ 
    .welcome{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100%;
        margin: 0;
        overflow: hidden;
      .appleSet{
          background-position: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .screenText{
            height: 10px;
            width: 10px;
            display: flex;
            flex-direction: row;
            text-align: center;
            #typed-strings{
                h3{
                  color: red;
                  font-size: 4px;
                }
            }
            #typed{
              color:white;
              font-size: 17px;
            }
          }
      }
    }
  }
}

@media (max-width: 400px) {
    header{
    height: 100vh;
      .welcome{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 90vh;
        .appleSet{
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo{
              left: 18%;
            }
            .screenText{
              display:flex;
              justify-content: center;
              align-items: center;
              height: 140px;
              width: 280px;
              position: relative;
              bottom: 10%;
              #typed{
                width: 80%;
                font-size: 10px;
              }
            }
        }
      }
    }
  }
  .about{
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    .textWrap{
      width: 80%;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .iphone{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 250px;
        height: auto;
      }
      .hire{
        background-color: #4652BB;
        position: absolute;
        bottom: 25%;
        right: 37%;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
      } 
    }
  }
    .skills{
      margin-top: 50px;
      padding: 50px;
      .skillsWrap{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        .web{
          height: 200px;
          width: 200px;
          margin: 1.5em;
        }
      }
  }
  .work{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    a{
      text-decoration: none;        
      margin: 5px;

      li{
      }
    }
  }
  .project{
    flex-direction: column;
    .projectText{
      width: 100%;
      p{
        width: 80%;
      }
    }
    .projectPicture{
      width: 100%;
    }
  }
}
}
