$icon-font-path: '../fonts/';

// bower:scss
// endbower

@import "colors";
@import "header";
@import "animation";
@import "about";
@import "sections";
@import "contact";



  



body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

* a:hover, * a:visited, * a:focus, * button:visited, * button:focus, * button:hover {
  text-decoration: none;
  outline: none;
}
