$icon-font-path: '../fonts/';

// bower:scss
// endbower

@import "colors";
@import "header";
@import "animation";
@import "about";
@import "sections";
@import "contact";
@import "navigation";



  



body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

* a:hover, * a:visited, * a:focus, * button:visited, * button:focus, * button:hover {
  text-decoration: none;
  outline: none;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#081225;
    border: thin solid #194A59;
    box-shadow: 0px 0px 3px #194A59 inset;
    border-radius:5px;
}
::-webkit-scrollbar-thumb {
    background:#154558;
    border: thin solid gray;
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover {
    background:#194A59;
}