$icon-font-path: '../fonts/';

// bower:scss
// endbower

@import "header";
@import "animation";
@import "about";

  



body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

* a:hover, * a:visited, * a:focus, * button:visited, * button:focus, * button:hover {
  text-decoration: none;
  outline: none;
}
